<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="utf-8" />
      <title>Finite Bounded Model</title>
      <link rel=stylesheet type=text/css href="{{ url_for('.static', filename='model_finite_bounded_print.css') }}">
      <link rel=stylesheet type=text/css href="{{ url_for('.static', filename='model_finite_bounded_style.css') }}">
   </head>

   <body>
      <div id="wrapper"><!-- #wrapper -->

         <nav><!-- top nav -->
            <div class="menu">
               <img src="{{ url_for('.static', filename='uzh_Logo.jpg') }}" alt="UZH Logo" align="right"/>
               <ul>
                  <li><a href="/main">Home</a></li>
                  <li><a href="/about">About</a></li>
                  <li><a href="/references">References</a></li>
                  <li><a href="/contactus">Contact Us</a></li>
               </ul>
            </div>
         </nav><!-- end of top nav -->

         <header><!-- header -->
            <h1>Computation: Finite Bounded Model</h1>
         </header><!-- end of header -->

         <nav id="nav-menu" class="menu">
            <div class="menu">
               <ul>
                  <li><a href="/modelstatic">Static</a></li>
                  <li><a href="/modelfinite">Finite</a></li>
                  <li><a href="/modelfinitebounded">Finite Bounded</a></li>
                  <li><a href="/modelfinite2">Finite 2</a></li>
                  <li><a href="/modelinfinite">Infinite</a></li>
               </ul>
            </div>
         </nav>

         <section id="main"><!-- #main content and sidebar area -->

            <section id="content"><!-- #content -->
               <form method=post action="">
                  <h2>Input Variables</h2>
                     <table>
                        <tr>
                           <td>Rmax (project return in case of success): </td> <td>{{ form.r_max }}</td>
                        </tr>
                        <tr>
                           <td>Rmin (return on a safe project): </td> <td>{{ form.r_min }}</td>
                        </tr>
                        <tr>
                           <td>b (bailout cost): </td> <td>{{ form.bailout_cost }}</td>
                        </tr>
                        <tr>
                           <td>c (deadweight cost to the state in case of bank's liquidation): </td> <td>{{ form.deadweight_cost }}</td>
                        </tr>
                        <tr>
                           <td>Discount Rate: </td> <td>{{ form.discount_rate }}</td>
                        </tr>
                        <tr>
                           <td>Nr. of Periods: </td> <td>{{ form.nr_of_periods }}</td>
                        </tr>
                     </table>
                  <br />
                  <p>
                     <input type="submit" name="btn" value="Calculate">
                  </p>

                  <h2>Result's</h2>
                     <table border="1">
                        <tr>
                           <td>
                              {% if fig1 != None %}
                                 {{ fig1|safe }}
                              {% endif %}
                              <p>
                                 <input type="submit" name="btn" value="Download 1">
                              </p>
                           </td>
                        </tr>

                        <tr>
                           <td>
                              {% if fig2 != None %}
                                 {{ fig2|safe }}
                              {% endif %}
                              <p>
                                 <input type="submit" name="btn" value="Download 2">
                              </p>
                           </td>
                           <td>
                              {% if fig3 != None %}
                                 {{ fig3|safe }}
                              {% endif %}
                              <p>
                                 <input type="submit" name="btn" value="Download 3">
                              </p>
                           </td>
                        </tr>

                        <tr>
                           <td>
                              {% if fig4 != None %}
                                 {{ fig4|safe }}
                              {% endif %}
                              <p>
                                 <input type="submit" name="btn" value="Download 4">
                              </p>
                           </td>
                           <td>
                              {% if fig5 != None %}
                                 {{ fig5|safe }}
                              {% endif %}
                              <p>
                                 <input type="submit" name="btn" value="Download 5">
                              </p>
                           </td>
                        </tr>

                        <tr>
                           <td>
                              {% if fig6 != None %}
                                 {{ fig6|safe }}
                              {% endif %}
                              <p>
                                 <input type="submit" name="btn" value="Download 6">
                              </p>
                           </td>
                           <td>
                              {% if fig7 != None %}
                                 {{ fig7|safe }}
                              {% endif %}
                              <p>
                                 <input type="submit" name="btn" value="Download 7">
                              </p>
                           </td>
                        </tr>

                        <tr>
                           <td>
                              {% if fig8 != None %}
                                 {{ fig8|safe }}
                              {% endif %}
                              <p>
                                 <input type="submit" name="btn" value="Download 8">
                              </p>
                           </td>
                           <td>
                              {% if fig9 != None %}
                                 {{ fig9|safe }}
                              {% endif %}
                              <p>
                                 <input type="submit" name="btn" value="Download 9">
                              </p>
                           </td>
                        </tr>
                     </table>

               </form>
            </section><!-- end of #content -->

         </section><!-- end of #main content and sidebar-->

      </div><!-- #wrapper -->
   </body>
</html>
